<div class="flex flex-col space-y-1 justify-center items-center md:items-start">
    <span class="text-3xl tasa-explorer-bold">Contact & Socials</span>
    <a href="#" class="flex flex-row space-x-2">
        <i class="devicon-github-original text-2xl"></i>
          <span>hajruuudin</span>
        </a>
    <a href="#" class="flex flex-row space-x-2">
        <i class="devicon-linkedin-plain text-2xl"></i>
        <span>Hajrudin Imamovic</span>
    </a>
    <a href="#" class="flex flex-row space-x-2">
        <img src="/images/EMAIL_LOGO.png" alt="Email" class="w-7">
        <span>hajruuudin@gmail.com</span>
    </a>
</div>

<img src="/images/SIGNATURE.png" alt="Signature" class="w-48">
