<ul class="flex flex-row items-center space-x-2 w-full h-full bg-(--background-600) rounded-2xl tasa-explorer-bold text-xl">
    <li class="flex-1 hover:flex-2 hover:bg-(--background-700) h-full transition-all duration-100 ease-in-out rounded-2xl">
        <a class="block w-full text-center h-full pt-2.5" routerLink="/about" routerLinkActive="bg-(--background-500) rounded-2xl">
            About
        </a>
    </li>
    <li class="flex-1 hover:flex-2 hover:bg-(--background-700) h-full transition-all duration-100 ease-in-out rounded-2xl">
        <a class="block w-full text-center h-full pt-2.5" routerLink="/projects" routerLinkActive="bg-(--background-500) rounded-2xl">
            Projects
        </a>
    </li>
    <li class="flex-1 hover:flex-2 hover:bg-(--background-700) h-full transition-all duration-100 ease-in-out rounded-2xl">
        <a class="block w-full text-center h-full pt-2.5" routerLink="/other" routerLinkActive="bg-(--background-500) rounded-2xl">
            Other
        </a>
    </li>
</ul>