<nav class="flex flex-col justify-center items-center space-y-8">
    <ul class="tasa-explorer-base tracking-widest flex flex-col justify-center items-center space-y-6">
        <li>
            <a routerLink="/home" routerLinkActive="tasa-explorer-bold bg-(--primary-800) py-3" class="text-2xl px-2 rounded-2xl transition-all">Homepage</a>
        </li>
        <li>
            <a routerLink="/experience" routerLinkActive="tasa-explorer-bold bg-(--primary-800) py-3" class="text-2xl px-2 rounded-2xl transition-all">Experience</a>
        </li>
        <li>
            <a routerLink="/projects" routerLinkActive="tasa-explorer-bold bg-(--primary-800) py-3" class="text-2xl px-2 rounded-2xl transition-all">Projects</a>
        </li>
        <li>
            <a routerLink="/other" routerLinkActive="tasa-explorer-bold bg-(--primary-800) py-3" class="text-2xl px-2 rounded-2xl transition-all">Others</a>
        </li>
    </ul>
</nav>